<div style="text-align:center" class="navbar-dark bg-primary">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style=" padding-left:18%">
    <li class="flex-sm-fill text-sm-center nav-link " role="presentation" style="width:30%">
      <button class="nav-link active about" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button"
        role="tab" aria-controls="pills-home" aria-selected="true">About</button>
    </li>
    <li class="flex-sm-fill text-sm-center nav-link " role="presentation" style="width:30%">
      <button class="nav-link about" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button"
        role="tab" aria-controls="pills-profile" aria-selected="false">Screenshots</button>
    </li>
    <li class="flex-sm-fill text-sm-center nav-link " role="presentation" style="width:30%">
      <button class="nav-link about" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button"
        role="tab" aria-controls="pills-contact" aria-selected="false">Trailers</button>
    </li>
  </ul>
</div>
<div class="tab-content" id="pills-tabContent" style="background-color:black; color:white">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

    <p *ngIf="game.parent_platforms?.length">
      Platforms Supported:
      <span *ngFor="let p of game.parent_platforms; let last = last">
          {{p.platform.name}} <span *ngIf="!last">,</span>
      </span>
    </p>
    <p *ngIf="game.publishers?.length">
      Game Publishers:
      <span *ngFor="let pub of game.publishers; let last = last">
            {{pub.name}} <span *ngIf="!last">,</span>
      </span>
    </p>
    <p *ngIf="game.website">
      <a href="{{game.website}}" target="_blank">{{game.website}}</a>
    </p>
    <div [innerHTML]="game.description"></div>



    <div class="card row" style="background-color:black">
      <div *ngFor="let rating of game.ratings">
        <span *ngIf="rating.title==='exceptional'" style="width: 10%">
                    <i class="fa-solid fa-thumbs-up"></i>
                          <span>{{rating.count || 0}}</span>
        </span>
        <span *ngIf="rating.title==='skip'" style="width: 10%">
                      <i class="fa-solid fa-thumbs-down"></i>
                          <span>{{rating.count || 0}}</span>
        </span>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div *ngIf="game.screenshots?.length">
      <img *ngFor="let ss of game.screenshots" class="screenshot" src="{{ss.image}}" alt="screenshot">
    </div>
    <div *ngIf="!game.screenshots?.length">
      No screenshots for this game!
    </div>
  </div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" >
    <div *ngIf="game.trailers?.length">
      <video *ngFor="let trailer of game.trailers" class="trailer" controls style="color:white">
        <source src="{{trailer.data?.max}}" type="video/mp4" />
      </video>
    </div>
    <div *ngIf="!game.trailers?.length"> No Trailers for this Game!</div>
  </div>
</div>