.about{
    font-size: 14px;
    font-weight: bolder;
    color: white;
}

.trailer{
    width: 100%;
    margin: 15px;
    height: 80%;
}

.screenshot{
    margin-top: 3px;
    width: calc(50% - 10px);
}

.screenshot:nth-child(even){
    margin-left: 10px;
}