.gamelist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200;
    margin: 20px auto;
    
}

.eachgame{
    width: 280px;
    margin: 10px;
    height: 330px;
    overflow: hidden;
    border-radius: 10px;
    background-color:lightgrey;
    cursor: pointer;
}

.eachgame :hover{   
    box-shadow: 4px 3px 11px 6px rgba(4, 13, 212, 0.00);
    transform: translateY(-3px);
    }   

.thumb-container{
    background-color: lightgrey;
    position: relative;
    height: 172px;
    color: white;
    text-align: center; 
}

.thumbnail {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 172px;
}

.description{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 157px;
}

 .platforms{
     display: flex;
 }   

 .platform{
     width: 30px;
     height: 30px;
     margin-left: 5px;
 }

 .spinner-border{
    width: 10rem;
    height: 10rem;
    --bs-spinner-border-width: 1rem;
    position: fixed;
    top: 20%;
    left: 40%;
    z-index: 999;
 }
